@import "../../styles/colors.scss";
@import "../../styles/container.scss";

.inner {
  min-height: 7.847vw;
  display: flex;
  align-items: center;
}

.header {
  padding: 10px 0;
  width: 100%;
  color: $black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.no-display {
  display: inline;
  margin: 0 10px;
}

@media (max-width: 841px) {
  .header {
    padding: 15px 0;
    height: 100px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .no-display:nth-child(2) {
    margin: 0;
    width: 400px;
    height: 50px;
    order: 3;
  }
}

@media (max-width: 460px) {
  .no-display {
    display: none;
  }
}
