@import "../../styles/colors.scss";
@import "../../styles/container.scss";

.inner {
  min-height: 7.847vw;
  display: flex;
  align-items: center;
}

.header {
  padding: 10px 0;
  width: 100%;
  color: $black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.111vw;
  line-height: 19px;
  letter-spacing: 0.02em;
}
