@import "../../styles/colors.scss";

.phone-btn {
  position: fixed;
  right: 3.556vw;
  bottom: 3.958vw;
  width: 75px;
  height: 75px;
  border-radius: 50px;
  background-color: $orange;
  z-index: 100500;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: .9;
  &:hover {
    background: $orange-hover;
    box-shadow: 4px 6px 50px rgba(251, 42, 0, 0.3);
  }
}
.phone-img {
  width: 30px;
  height: 30px;
}

.animation {
  animation: shakeX 1s cubic-bezier(0.35, 0.08, 0.2, 0.95) alternate both;
  transform: translateX(0);
}

@media (max-width: 800px) {
  .phone-btn {
    width: 60px;
    height: 60px;
  }

  .phone-img {
    width: 25px;
    height: 25px;
  }
}

@keyframes shakeX {
  10%,
  90% {
    transform: translateX(-1px);
  }

  20%,
  80% {
    transform: translateX(2px);
  }

  30%,
  50%,
  70% {
    transform: translateX(-3px);
  }

  40%,
  60% {
    transform: translateX(3px);
  }
}

@media (max-width: 1000px) {
  .wrapper {
    width: 100%;
  }
}
