@import "../../styles/colors.scss";

.substrate {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background-color: $transparent-gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form {
  width: 553px;
  height: 559px;
  background-color: $white;
  border-radius: 20px;
  box-shadow: 7px 4px 78px 0px rgba(255, 98, 0, 0.2);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 72px;
  color: $black;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
}

.subtitle {
  margin: 10px 0 24px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.restriction {
  margin: 10px 0 52px 0;
  color: $minor-text-gray;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
}

%placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 23px;
  color: $minor-text-gray;
}

%input-style {
  border: none;
  outline: none;
  border-bottom: 1px solid $input-bottom-line;
  padding: 7px 0;
}

%input-focus {
  border-bottom: 1px solid $orange;
}
.input-block {
  margin: 40px 0;
  width: 403px;
  display: flex;
  justify-content: space-between;
}

.long-input {
  width: 403px;
  @extend %input-style;
  &::placeholder {
    @extend %placeholder;
  }
  &:focus {
    @extend %input-focus;
  }
}

.short-input {
  width: 188px;
  @extend %input-style;
  &::placeholder {
    @extend %placeholder;
  }
  &:focus {
    @extend %input-focus;
  }
}

.error {
  background-color: $input-error;
  border-radius: 3px;
  animation: shakeX 0.82s cubic-bezier(0.35, 0.08, 0.2, 0.95) both;
  transform: translateX(0);
}

@keyframes shakeX {
  10%,
  90% {
    transform: translateX(-1px);
  }

  20%,
  80% {
    transform: translateX(2px);
  }

  30%,
  50%,
  70% {
    transform: translateX(-4px);
  }

  40%,
  60% {
    transform: translateX(4px);
  }
}
