@import "../../styles/colors.scss";

.light {
  color: $black;
}

.dark {
  color: $white;
}

.input-light {
  color: $black;
  border: none;
  outline: none;
  border-bottom: 1px solid $black;
  &::placeholder {
    color: $minor-text-gray;
  }
}

.input-dark {
  color: $white;
  border: none;
  outline: none;
  border-bottom: 1px solid $white;
  &::placeholder {
    color: $white-transparent;
  }
}

.center {
  align-items: center;
  text-align: center;
}

.left-side {
  align-items: flex-start;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 70px 72px;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  
}

.subtitle {
  margin: 10px 0 24px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.restriction {
  margin: 10px 0 52px 0;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
}

%placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 23px;
}

%input-style {
  padding: 7px 0;
  background: transparent;
}

%input-focus {
  border-bottom: 1px solid $orange;
}
.input-block {
  margin: 40px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  input:nth-child(2n) {
    margin-left: 30px;
  }
}

.input {
  width: 100%;
  @extend %input-style;
  &::placeholder {
    @extend %placeholder;
  }
  &:focus {
    @extend %input-focus;
  }
}


.error {
  background-color: $input-error;
  animation: shakeX 0.82s cubic-bezier(0.35, 0.08, 0.2, 0.95) both;
  transform: translateX(0);
}

@keyframes shakeX {
  10%,
  90% {
    transform: translateX(-1px);
  }

  20%,
  80% {
    transform: translateX(2px);
  }

  30%,
  50%,
  70% {
    transform: translateX(-4px);
  }

  40%,
  60% {
    transform: translateX(4px);
  }
}

@media (max-width: 1000px) {
  .wrapper {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .input-block {
    flex-direction: column;
    input:nth-child(2) {
      margin-left: 0;
      margin-top: 20px;
    }
  }
  .wrapper{
    padding: 30px;
  }
}
