@import "../../styles/colors.scss";

.box {
  position: absolute;
  top: calc(50% - 47px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0e78bd21;
  border: 1px solid #0e78bd75;
  box-sizing: border-box;
  border-radius: 6px;
  width: 90%;
  height: 94px;
}

%text {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.success {
  @extend %text;
  color: #035401;
}

.failed {
  @extend %text;
  color: #720000;
}
