@import "../../styles/colors.scss";

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #abcfe7b7;
  border: 1px solid #0e78bd75;
  box-sizing: border-box;
  border-radius: 6px;
  width: 90%;

  margin-top: 10px;
  padding: 10px;
}

%text {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.success {
  @extend %text;
  color: #035401;
}

.failed {
  @extend %text;
  color: #720000;
}
