@import "../../styles/colors.scss";

.table {
  display: flex;
  width: 100%;

  .column {
    display: flex;
    flex-direction: column;
    width: 100%;
    .cell {
      width: 100%;
      height: 76px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      line-height: 16px;
      color: #626262;
      padding: 5px;
      border: 1px solid rgba(0, 0, 0, 0.06);

      &:nth-child(odd) {
        background: rgba(0, 91, 150, 0.04);
      }

      &:nth-child(1) {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: $white;
        background: #005b96;
      }
    }
  }

  p {
    font-size: 16px;
    line-height: 24px;
  }
}
.colored {
  color: $orange;
}
