@import "../../styles/colors.scss";
@import "../../styles/container.scss";

.nav {
  padding: 10px 0 35px 0;
  font-size: 16px;
  letter-spacing: 0.02em;
  span {
    margin: 0 4px;
  }
}

.active {
  color: $black;
  &:hover {
    color: $orange;
  }
}

.inactive {
  color: $minor-text-gray;
}

.arrow {
  font-size: 18px;
  color: $black;
}
