@import "../../styles/colors.scss";

.responsive {
  width: 15.139vw;
  height: 4.167vw;
  font-size: 1.25vw;
}

.static {
  width: 218px;
  height: 60px;
  font-size: 18px;
}

.btn {
  border: none;
  border-radius: 4px;
  background-color: $orange;
  font-style: normal;
  font-weight: bold;
  color: $white;

  &:hover {
    background-color: $orange-hover;
    box-shadow: 4px 6px 50px rgba(251, 42, 0, 0.3);
    cursor: pointer;
  }
}
