.category-wrapper {
  margin-top: 6.944vw
  ;
}

.flex-wrapp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media (max-width: 780px) {
  .flex-wrapp {
    justify-content: center;
  }
}
