@import "../../../styles/container.scss";

.product-description-wrapper {
  display: flex;
  justify-content: space-between;
}

.additional-info-blocks {
  margin: 100px 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
