.item{
    width: 340px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    margin-left: 16px;
    font-size: 20px;
}

.item-img{
    width: 60px;
    height: 56px;
}