@import "../../styles/colors.scss";
@import "../../styles/container.scss";

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 2.5vw;
  color: $black;
}

@media (max-width: 980px) {
  .title {
    font-size: 26px;
    text-align: center;
  }

}