@import "../../styles/container.scss";

.contact-form {
  width: 596px;
  background: linear-gradient(250.94deg, #005b96 0%, #001a2b 100%);
}

.group {
  
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 1110px) {
  .contact-form {
    width: 100%;
    display: flex;
    align-items: center;
  }
}
