@import "../../styles/colors.scss";

%card-property {
  box-shadow: 2px 4px 20px 2px rgba(206, 206, 206, 0.25);
  border-radius: 10px;
  margin: 0 0.486vw 4.167vw 0.486vw;
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.1s ease-out;
}

%card-hover {
  opacity: 0.8;
  box-shadow: 2px 4px 20px 2px rgb(112, 112, 112);
  transform: scale(1.03, 1.03);
  transition: all 0.1s ease-out;
  cursor: pointer;
}

.large-card {
  @extend %card-property;
  width: 615px;
  height: 473px;
  &:hover {
    @extend %card-hover;
  }
}

.small-card {
  @extend %card-property;
  max-width: 387px;
  max-height: 463px;
  &:hover {
    @extend %card-hover;
  }
}
.title-wrapper {
  padding: 2.778vw 2.083vw;
}
.title {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 1.667vw;
  color: $black;
}
.more {
  margin-top: 0.694vw;
  font-size: 1.111vw;
  color: $gray;
}

@media (max-width: 600px) {

  .title{
    font-size: 3.5vw;
  }

  .more {
    font-size: 2vw;
  }
}
