@import "../../styles/colors.scss";

%card-property {
  box-shadow: 2px 4px 20px 2px rgba(206, 206, 206, 0.25);
  border-radius: 10px;
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.1s ease-out;
  width: 100%;
}

%card-hover {
  opacity: 0.8;
  box-shadow: 2px 4px 20px 2px rgb(112, 112, 112);
  transform: scale(1.03, 1.03);
  transition: all 0.1s ease-out;
  cursor: pointer;
}

.item {
  flex: 1 1 330px;
  width: 330px;
  max-width: 600px;
  margin: 0 0.486vw 2.167vw 0.486vw;
}

.card {
  @extend %card-property;
  &:hover {
    @extend %card-hover;
  }
}

.title-wrapper {
  padding: 2.778vw 2.083vw;
  
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size:20px;
  color: $black;
}

.more {
  margin-top: 0.694vw;
  font-size: 16px;
  color: $gray;
}

@media (min-width: 1440px) {
  .title {
    font-size: 27px;
  }
  .title-wrapper {
    padding: 1.778vw 1.083vw;
    height: 120px;
  }
  .more {
    font-size: 20px;
  }
}

@media (min-width: 1599px) {
  .item {
    min-width: 430px;
    max-width: 660px;
  }
}

@media (max-width: 1200px) {
  .item {
    max-width: 450px;
  }
}
@media (max-width: 800px) {
  .title-wrapper {
    height: 105px;
  }
  .title {
    font-size: 22px;
  }

  .more {
    font-size: 14px;
  }
}
@media (max-width: 700px) {
  .title-wrapper {
    height: 85px;
  }
  .title {
    font-size: 20px;
  }

  .more {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .title-wrapper {
    height: 65px;
  }
  .title {
    font-size: 16px;
  }

  .more {
    font-size: 10px;
  }
}
