@import "../../styles/colors.scss";

.nav-item {
  margin: 0 5px;
  // font-size: calc(0.129rem + 1vw);
  &:hover {
    color: $orange;
  }
}

@media (min-width: 1440px) {
  .nav-item {
    font-size: 20px;
  }
}

@media (max-width: 1280px) {
  .nav-item {
    font-size: 14px;
  }
}

@media (max-width: 1120px) {
  .nav-item {
    font-size: 12px;
  }
}

@media (max-width: 950px) {
  .nav-item {
    font-size: 10.5px;
  }
}

@media (max-width: 750px) {
  .nav-item {
    font-size: 10px;
  }
}


