@import "../../styles/colors.scss";
@import "../../styles/container.scss";

.outer {
  background: linear-gradient(88.55deg, #000000 0%, #014a7b 100%);
}

.inner {
  min-height: 15.625vw;
  display: flex;
  align-items: center;
}

.footer {
  width: 100%;
  color: $white;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 910px) {
  .footer {
    padding: 50px 0;
    height: 260px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 460px) {
  .footer {
    padding: 20px 0;
    justify-content: center;
  }
}
