@import "../../../styles/colors.scss";

.specifications-wrapper {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $details-text;
  box-sizing:unset;

  .specifications-title {
    height: 50px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    &:hover {
      cursor: pointer;
      color: $orange;
      opacity: 0.6;
    }
  }

  .active {
    border-bottom: 4px solid $orange;
    font-weight: bold;
    color:red;
  }
}
