@import "../../styles/colors.scss";

.close {
  position: absolute;
  top: 20px;
  right: 10px;
  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }
}

.burger {
  display: none;
}

.menu-wrapper {
  position: absolute;
  background-color: rgba(12, 12, 12, 0.842);
  top: 0;
  left: 0;
  right: 0;
  height: 100%;

  z-index: 10000;
}

.wrapper {
  width: 70%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: $white;
  a {
    font-size: 16px;
    margin-top: 10px;
  }
}
.nav-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contacts {
  display: flex;
  flex-direction: column;

  a {
    font-size: 14px;
    margin-top: 0;
  }
  img {
    width: 15px;
    height: 15px;
  }
}

.contactItem {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  padding: 3px;
}

@media (max-width: 460px) {
  .burger {
    display: flex;
    align-items: center;
  }
}
