@import "../../styles/colors.scss";
.substrate {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background-color: $transparent-gray;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.contact-form {
  margin-top: 10px;
  background-color: $white;
  border-radius: 20px;
  box-shadow: 7px 4px 78px 0px rgba(255, 98, 0, 0.2);
}
.contact-form-wrapper {
  position: relative;
}
.close {
  position: absolute;
  top: 20px;
  right: 10px;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

@media (max-width: 550px) {
  .close {
    width: 6vw;

    height: 6vw;

  }
}
