@import "../../styles/colors.scss";
.substrate {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background-color: $transparent-gray;
  display: flex;
  justify-content: center;
  align-items: center;
  
  // height: 100%;
  // width: 100%;
  // position: fixed;
  // overflow: hidden;

}

.contact-form {
  
  width: 553px;
  height: 559px;
  background-color: $white;
  border-radius: 20px;
  box-shadow: 7px 4px 78px 0px rgba(255, 98, 0, 0.2);
}