$black: #001a2b;
$white: #ffffff;
$orange: #ff5432;
$gray: #cecece;
$transparent-gray: rgba(12, 12, 12, 0.281);
$minor-text-gray: rgba(0, 26, 43, 0.6);
$input-bottom-line: #001A2B;
$input-focus: #0278c7;
